body {background-color: rgb(236, 46, 243);}
		
h1 {color: rgb(236, 46, 243);
			background-color: rgba(224, 239, 17, 0.671);}
h2 {color: rgb(236, 46, 243);
                background-color: rgba(224, 239, 17, 0.671);}
h3 {color: rgb(236, 46, 243);
                    background-color: rgba(224, 239, 17, 0.671);}
h4 {color: rgb(236, 46, 243);
                        background-color: rgba(224, 239, 17, 0.671);}
h5 {color: rgb(236, 46, 243);
                            background-color: rgba(224, 239, 17, 0.671);}
li {color: rgb(236, 46, 243);
    background-color: rgba(224, 239, 17, 0.671)}
.myfav